// Global
body {
	font-family: $font-primary;
}


// Headers
h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	
}


// Links
a {
	&:link {
		
	}

	&:hover {
		
	}

	&:active {
		
	}

	&:visited {
		
	}
}


// Inputs
input[type=text] {

}

label {
	
}

textarea {
	
}

select {
	
}

option {
	
}


// Tables
table {
	td {

	}
}
